{% extends 'sapi/base.html' %}
{% block content %}
	<a href="{% url 'sapi_detail_view' peternakan.id %}"><b> <---Back </b></a>
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus peternakan : {{ peternakan.nama_sapi }} ?
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Ya, yakin!">
	</form>
{% endblock %}